<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <a href="/users/<%= user._id %>/edit">Edit</a>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/users/new">Add User</a>
  </body>
</html>
